.contact-form {
  margin: 7% auto;
  max-width: 50%;
  position: relative;
  max-width: 350px;

  background: $color-1;
  padding: 1rem 3rem 0.2rem 3rem;
  // z-index: 2;
  border-radius: $border-radius;
  box-shadow: 0 1px 5px #222;
  min-width: 440px;
  min-height: 200px;

  @media screen and (max-width: 740px) {
    margin: 2rem auto;
  }
  @media screen and (max-width: 440px) {
    margin-left: 2rem;
  }
  h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }

  .form-content {
    display: grid;
    grid-template-rows: repeat(4, 1fr) 100px;

    input,
    textarea {
      color: $white;
      background-color: $color-2;
      border-radius: $border-radius;
      font-family: $font-1;
      font-size: 1rem;
      outline: none;
      border: 1px solid $color-5;
      margin-bottom: 1rem;
      padding: 12px 5px;

      &::placeholder {
        color: $white;
        font-family: $font-1;
        font-size: 1.2rem;
      }

      @media screen and (min-width: 1200px) {
        font-size: 1.2rem;
      }
    }
    input {
      width: 100%;

      @media screen and (max-width: 540px) {
        width: 75%;
        padding: 12px 0 6px;
      }
    }
    .email-content {
      position: relative;
      width: 100%;

      @media screen and (max-width: 540px) {
        width: 75%;
      }

      #not-mail {
        display: none;
        position: absolute;
        bottom: 16px;
        right: 0px;
        font-size: 0.8rem;
        color: $white;
        background-color: $red;
        border-radius: 5px;
        padding: 0.1rem 0.5rem;
        transform-origin: 50% 50%;
      }
      // @keyframes dongle {
      //   0% {
      //     transform: translate(0px, 0px);
      //   }
      //   10% {
      //     transform: translate(-10px, 0px);
      //   }
      //   20% {
      //     transform: translate(10px, 0px);
      //   }
      //   30% {
      //     transform: translate(-10px, 0px);
      //   }
      //   40% {
      //     transform: translate(10px, 0px);
      //   }
      //   50% {
      //     transform: translate(-10px, 0px);
      //   }
      //   60% {
      //     transform: translate(10px, 0px);
      //   }
      //   70% {
      //     transform: translate(-10px, 0px);
      //   }
      //   80% {
      //     transform: translate(10px, 0px);
      //   }
      //   90% {
      //     transform: translate(-10px, 0px);
      //   }
      //   100% {
      //     transform: translate(0px, 0px);
      //   }
      // }
    }

    textarea {
      resize: none;
      padding: 24px 5px;

      @media screen and (max-width: 540px) {
        width: 75%;
        padding: 12px 0;
      }
    }
  }

  .btnContainer {
    margin: 0 auto !important;

    #submitBtn {
      margin: 1rem auto 0 auto !important;
      cursor: pointer;
      border: none;
      color: $white;
      background: $color-5;
      border-radius: $border-radius;
      box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.3);
      font-size: 1rem;
      text-transform: uppercase;
      padding: 1rem 2rem;
      transition: 0.2s;

      &:hover {
        background: $color-4;
      }
    }
  }

  .error::placeholder {
    color: $red;
  }
  .form-message {
    margin-top: 10px;
    padding: 12px;
    opacity: 0;
    background: $red;
    transition: 0.3s ease;
    color: $white;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
  }
}

.contact-infos {
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-rows: repeat(4, 23%) 12%;
  height: 70%;
  width: 30%;
  max-width: 500px;

  @media screen and (max-width: 740px) {
    height: 200px;
    width: 100%;
    max-width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'a b c'
      'd d d'
      'e e f';
  }
  @media screen and (max-width: 540px) {
    grid-template-rows: repeat(3, 60px);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      'b b b c c c'
      'd d d d d d'
      'e e e e f f';
  }
  @media screen and (max-height: 500px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    width: 35%;
    height: 83%;
  }

  h4 {
    color: $color-4;
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      font-size: 1.8rem;
    }
  }
  p {
    @media screen and (min-width: 1200px) {
      font-size: 1.5rem;
    }
  }
  .email,
  .phone {
    @media screen and (max-height: 640px) {
      display: none;
    }
  }
  .email .content p,
  .phone .content p {
    transition: 0.25s;

    &:hover {
      transform: translateX(5px);
    }
  }

  .address {
    position: relative;

    @media screen and (max-width: 540px) {
      display: none;
    }
    .content {
      position: absolute;
      right: 10px;
    }
  }
  .phone {
    position: relative;

    @media screen and (max-width: 540px) {
      text-align: center;
      font-size: 0.8rem;
      grid-area: b;
    }

    .content {
      position: absolute;
      left: 40%;
      transform: translateX(-50%);

      @media screen and (max-width: 540px) {
        position: relative;
        margin: 0 auto;
        left: 0;
        transform: translateX(0);
      }
    }
  }
  .email {
    @media screen and (max-width: 540px) {
      grid-area: c;
      font-size: 0.8rem;
      text-align: center;
    }
  }
  .social-network {
    position: relative;
    width: 80%;
    margin: 0 auto;

    @media screen and (max-width: 740px) {
      width: 50%;
      grid-area: d;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2rem;
    }

    .content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .credits {
    text-align: center;

    @media screen and (max-width: 740px) {
      transform: translateY(20px);
      font-size: 0.7rem;
      margin-right: 1rem;
      grid-area: f;
    }
    p {
      font-size: 0.9rem;
    }
  }
}
