.infoContainer {
  max-width: 700px;
  min-height: 125px;
  background: $color-1;
  padding: 1rem 3rem 0.2rem 3rem;
  border-radius: $border-radius;
  border: $border;
  box-shadow: 0 1px 5px #222;
  margin: 0rem auto 0.5rem auto;

  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      margin-right: 1rem;
    }

    i {
      margin-right: 0.4rem;
      font-size: 1.1rem;
      color: $color-5;
    }

    span {
      cursor: pointer;
    }
  }
  .copiedMessage {
    display: flex;
    justify-content: center;
    color: #78e08f;

    i {
      color: #78e08f;
    }
  }

  .showLocation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.507);
    animation: popup 0.3s ease forwards;
    transform-origin: center;

    .locationContent {
      position: relative;
      top: 25%;
      width: 600px;
      margin: 0 auto;
      color: $white;
      background: $color-1;
      border-radius: $border-radius;
      padding: 2rem;
      animation: popup 0.6s ease forwards;
      transform: scale(0);
      transform-origin: center;

      @keyframes popup {
        to {
          transform: scale(1);
        }
      }
    }
    .head {
      display: flex;
      justify-content: space-around;
      margin: 1rem 0 0;
    }
    h2 {
      text-align: left;
      margin-bottom: 1rem;
    }
    .cross {
      position: absolute;
      top: 25px;
      right: 25px;
      transition: 0.1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.07);
      }
    }
    .address {
      margin-bottom: 1rem;
      i {
        margin-right: 0.5rem;
      }
    }
    .btnContainer {
      margin-top: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      span {
        margin-top: 1rem;
        cursor: pointer;
        color: $white;
        background: $color-5;
        border-radius: $border-radius;
        padding: 1rem;
        transition: 0.2s;

        &:hover {
          background: $color-4;
        }
      }
    }
    .text {
      text-align: justify;
    }
  }
}

@media screen and (max-width: 950px) {
  .infoContainer {
    margin: 1rem;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        margin-top: 1rem;
      }

      li:last-child {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .showLocation {
    display: none;
  }
}
