.sidebar {
  background-color: $color-2;
  font-family: $font-1;
  height: 100%;
  min-height: $minHeight;
  width: 264px;
  border-radius: $border-radius;
  border: $border;
  box-shadow: $shadow;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 1fr 108px;
  grid-template-areas:
    '1'
    '2'
    '3';

  .id {
    grid-area: 1;
    text-align: center;
    user-select: none;
    position: relative;

    .idContent {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;

      img {
        height: 10rem;
        width: auto;
        border-radius: 50%;
        box-shadow: 0 0 0 2px $color-5;
      }
      h3 {
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin: 1.5rem auto 0 auto;
        overflow: hidden;
        white-space: nowrap;
        width: 14ch;
        animation: typing 2s steps(11);
      }
    }
  }

  .navigation {
    grid-area: 2;
    padding: 2rem 1rem;

    ul {
      height: 100%;
      display: grid;

      li {
        padding: 1rem 0 1rem 0.4rem;
        font-size: 1.3rem;
        position: relative;

        &:hover i {
          transform: translate(3px, 3px);
        }
        .navActive {
          color: $color-5;
        }
        i {
          position: absolute;
          margin-top: 0.1rem;
          font-size: 1.4rem;
          transform: translateY(3px);
          transition: 0.2s ease;
        }
        span {
          margin-left: 2.7rem;
        }
      }
    }
  }
}

@keyframes typing {
  0% {
    width: 0ch;
  }

  100% {
    width: 11ch;
  }
}

.socialNetwork {
  grid-area: 3;

  ul {
    display: flex;
    width: 264px;
    padding: 0 14px;
    justify-content: space-around;

    li {
      font-size: 1.5rem;
      background-color: $color-1;
      color: $color-1;
      border-radius: 50%;
      padding: 0.5rem 0.8rem;
      transition: 0.3s;
      cursor: pointer;

      &:visited {
        color: $color-1;
      }

      &:nth-child(1) {
        padding: 0.5rem 0.85rem;
      }

      &:nth-last() {
        padding: 0.5rem 0.75rem;
      }
      &:hover {
        color: $color-2;
      }

      span {
        margin-left: 1rem !important;
      }
    }
  }
  .signature {
    margin-top: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;

    p {
      color: $color-5;
    }
  }
}

@media screen and (max-width: 850px) {
  .sidebar {
    display: flex;
    min-height: 50px;
    margin-bottom: 0.2rem;
    width: 100%;

    .id,
    .socialNetwork {
      display: none;
    }
    .navigation {
      width: 100%;
      padding: 0.1rem 1rem;

      ul {
        display: flex;
        justify-content: space-between;

        span {
          margin-left: 2rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .sidebar {
    ul {
      justify-content: space-around !important;

      li {
        padding-inline-end: 1rem 0 !important;
      }
      i {
        font-size: 1.7rem !important;
        transform: translateY(-8px) !important;
      }
      span {
        display: none;
      }
    }
  }
}
