.contactContent {
  background: $color-2;
  border: $border;
  border-radius: $border-radius;
  width: 100%;
  overflow: hidden;

  .contactBox {
    grid-area: 1;
    background: $color-1;
    margin: 0 auto;
    padding: 1rem 3rem;
    border-radius: $border-radius;
    box-shadow: 0 1px 5px #222;
    width: 50%;
    min-width: 440px;
    min-height: 150px;
  }
  .socialNetwork {
    grid-area: 2;
    background-color: $color-5;
    @include verticalCenter;
  }
}

@media screen and (max-width: 1200px) {
  .contact {
    margin: 0.5rem !important;
  }
}

@media screen and (max-width: 500px) {
  .contactContent {
    .contactBox {
      min-width: 100% !important;
    }
    span {
      font-size: 0.9rem !important;
    }
    h4 {
      font-size: 0.9rem;
    }
  }
}
