.contact {
  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $shadow;
    width: 100%;
    overflow: hidden;
    margin-left: 0.4rem;
    // background: $color-2;
    background: linear-gradient(135deg, $color-2 1%, transparent 100%);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: inherit;
      background: url('../../media/bg.jpg') no-repeat center/cover;
      z-index: -1;
      filter: brightness(30%);
    }
  }
}

@media screen and (max-width: 1200px) {
  .contact {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 850px) {
  .contactContainer {
    margin-left: 0rem !important;
    margin-top: 1rem !important;
  }
}
