.contact {
  .contactContainer {
    border: $border;
    border-radius: $border-radius;
    box-shadow: $shadow;
    width: 100%;
    overflow: hidden;
    margin-left: 0.4rem;
    // background: $color-2;
    background: linear-gradient(135deg, $color-2 1%, transparent 100%);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: inherit;
      background: url('../../media/bg.jpg') no-repeat center/cover;
      z-index: -1;
      filter: brightness(30%);
    }
  }
}
