.portfolio {
  .portfolioContent {
    width: 100%;
    display: grid;
    min-height: $minHeight;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      '1'
      '2';
  }

  .radioDisplay {
    grid-area: 1;
    border-radius: $border-radius;
    border: $border;
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
    background: $color-2;
    user-select: none;
    box-shadow: $shadow;

    li {
      color: $color-5;
      font-size: 1.1rem;
      text-transform: uppercase;
      padding: 0 1rem;
      flex: 1;
      z-index: 2;
      @include verticalCenter;

      input[type='radio'] {
        visibility: hidden;
        position: relative;

        &:before {
          content: '';
          visibility: visible;
          position: absolute;
          top: -4px;
          left: -12px;
          height: 0.9rem;
          width: 0.9rem;
          border-radius: 50%;
          border: 2px solid $color-5;
          cursor: pointer;
          transition: 0.3s;
        }
        &:after {
          content: '';
          visibility: visible;
          position: absolute;
          top: -4px;
          left: -12px;
          height: 0.9rem;
          width: 0.9rem;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.3s;
          background: $color-5;
          transform: scale(0);
          transform-origin: center;
        }
      }
      input:checked:after {
        transform: scale(1.17) translate(-25%, -25%);
        top: 2px;
        left: -6px;
      }
      input:checked + label {
        color: $white;
      }
      label {
        cursor: pointer;
      }
    }
  }
  .projects {
    grid-area: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .project {
      background: $color-1;
      border-radius: $border-radius;
      border: $border;
      margin: 0.5rem 0 0 0;
      text-align: center;
      width: 32%;
      max-height: 50%;
      padding: 0.3rem;
      box-shadow: $shadow;
      display: grid;
      grid-template-rows: 7% 15% 68% 10%;
      grid-template-areas:
        '1'
        '2'
        '3'
        '4';
    }
    .icons {
      grid-area: 1;
      display: flex;

      img {
        cursor: default;
        margin-top: 0.1rem;
        height: 1.2rem;
        width: auto;
        box-shadow: none;
      }
    }
    h3 {
      grid-area: 2;
      font-family: $font-1;
      font-size: 1.65rem;
      @include verticalCenter;
      justify-content: center;
    }
    img {
      grid-area: 3;
      object-fit: cover;
      margin: 0 auto;
      width: 100%;
      height: 95%;
      box-shadow: 0 2px 6px #333;
      border-radius: 4px;
      cursor: pointer;
      @include verticalCenter;
    }
    .infos {
      grid-area: 4;
      color: $color-4;
      cursor: pointer;
      font-size: 1.5rem;
      @include verticalCenter;
      transition: 0.2s;

      i {
        transition: all 0.2s ease-out;

        &:hover {
          transform: scale(1.3);
          color: $color-5;
        }
      }
    }
    .showInfos {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.507);
      animation: popup 0.3s ease forwards;
      transform-origin: center;

      .infosContent {
        position: relative;
        top: 25%;
        width: 600px;
        margin: 0 auto;
        color: $white;
        background: $color-1;
        border-radius: $border-radius;
        padding: 2rem;
        box-shadow: 0 10px 10px #333;
        animation: popup 0.6s ease forwards;
        transform: scale(0);
        transform-origin: center;

        @keyframes popup {
          to {
            transform: scale(1);
          }
        }
      }
      .head {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
      }
      h2 {
        text-align: left;
        margin-bottom: 1rem;
      }
      .cross {
        position: absolute;
        top: 25px;
        right: 25px;
        transition: 0.1s;
        cursor: pointer;

        &:hover {
          transform: scale(1.07);
        }
      }
      .sourceCode {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .button {
          margin-top: 1rem;
          cursor: pointer;
          color: $white;
          background: $color-5;
          border-radius: $border-radius;
          padding: 1rem;
          transition: 0.2s;

          &:hover {
            background: $color-4;
          }
        }
      }
      .text {
        text-align: justify;
        padding-bottom: 1rem;
      }
    }
  }
}
@media (max-width: 650px) and (min-width: 521px) {
  .portfolioContent {
    .project {
      width: 49% !important;

      i {
        font-size: 1rem;
      }
    }
    .infosContent {
      width: 100% !important;
    }
  }
}
@media (max-width: 520px) {
  .radioDisplay {
    display: none !important;
  }
  .portfolioContent {
    grid-template-rows: 1fr !important;

    .project {
      grid-template-rows: 30px 40px 80px 40px !important;
      width: 98% !important;

      img {
        height: 100% !important;
      }
    }
  }
}
